<ion-view view-title="Calcular Tarifa">
  <ion-content>
    <div class="list">
      <form name="calc">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text"  placeholder="Ingresa tu nombre">
        </label>
        <br />
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text"  placeholder="Ingresa tu email">
        </label>
        <button class="button button-block button-assertive" type="Button" name="" onclick="calculate()"><i class="icon ion-android-send"></i>
          <output name="resultado" value="0" size="12"></output>
        </form>
      </div>

    </ion-content>
    <div class="bar bar-footer bar-positive">
      <div class="title"><i class="ion-social-bitcoin">   </i>Devoloped by Juan Roa    <i class="ion-social-tux"></i></div>
    </div>
  </ion-view>
